$body-font-family: Droid Sans, "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$topbar-height: 90px;
$jazz-font-family: Roboto Condensed;


.topb{
	width: auto;
	background: url(../images/bg/homestay.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 80%;

}

.slogo{
	font-family: icomoonregular;
	-webkit-font-smoothing: antialiased;
}

.lista{
	color: grey;
	padding: 1rem;

}

.slick-dots{
	background: none;
	bottom: 0;
}

.tlogo{
	font-family: Julius Sans One;
	font-weight: bold;
}

.mainslide{
	color: white;
	font-weight: bold;
	font-size: 500%;
	height: 80%;
	text-align: right;
	padding: .75rem;

}

.jazzup{
		font-family: $jazz-font-family;
		color: grey;

}

.spacer{
	width: 100%;
	height: 10%;
	}

.jazz{
	padding: 1rem;
	margin: 1rem;
	width:75%;
	font-family: $jazz-font-family;
}
body{
	font-family: Droid Sans;
	
}

.top-bar{

	background: none;
	font-family: Raleway;
	.title-area{
		.name{
			h1{
				a{
				top-margin:.5rem;
				font-size: 2rem;
				font-weight: bold;

				}
			}

		}

body, html {
  height: 100%;
}


	}
	.top-bar-section{
		li:not(.has-form){
			a:not(.button){
			background: none;
			font-family: Raleway;

			}
		}

		li{
				background: none;
			a{
				background: none;
				.button{
				background: none;

				}
			
			}
			
		}
	}
}


footer{
background: none;
width: 100%;
margin-left: auto;
margin-right: auto;



	div{
	margin-top: 1rem;
	margin-left: auto;
	margin-right: auto;
	p{
font-family: $jazz-font-family;
color: $topbar-bg;
font-size: .6em;

	}

	div{
	margin-right: 2rem;
	margin-left: 2rem;
	ul{
	li{
	list-style: none;
	display: list-item;
	 a{
font-family: $jazz-font-family;
color: grey;
font-size: .75em;
text-decoration: none;
		}
		}
		}
		}
		}
		}

.clearimg{
	
	width: auto;
	background: url(../images/bg/homestay.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: auto;


}